<div class="controlPanel">
    <div class="searchPanel">
        <input #subRedditSearchInput 
            type="text" 
            placeholder="Enter the subreddit name, e.g. 'cats'" 
            (keydown.enter)="onViewClicked(subRedditSearchInput.value)"
            [value]="appService.getSearchTerm()"
            />
        <button (click)="onViewClicked(subRedditSearchInput.value)">View</button>
    </div>
    <div class="displayOptions">
        <div class="postsPerPageControls">
        Posts per page: <select #postsPerPageSelect (change)='onPostsPerPageChanged(postsPerPageSelect.value)'>
            <option [value]="option" [selected]='+option === postsPerPage' *ngFor="let option of postsPerPageOptions">{{option}}</option>
          </select>
        </div>
        <div class="paginationButtons">
            <button (click)="onPrevPageClicked()" [disabled]="!prevPageAvailable"><<< Previous</button>
            <button (click)="onNextPageClicked()" [disabled]="!nextPageAvailable">Next >>></button>
        </div>
    </div>
</div>