.controlPanel {
    margin: 1rem auto;
    max-width: 50rem;
    display: flex;
    flex-direction: column;
}

.controlPanel .searchPanel {
    display: flex;
    flex-direction: row;
}

.controlPanel .searchPanel input[type="text"] {
    font-size: 2rem;
    display: block;
    flex-grow: 1;
    margin-bottom: 0;
    border-radius: 2px;
    width: 10rem;
    padding: 8px;
    border: 1px solid #BDBDBD;
}


.controlPanel .searchPanel button {
    font-size: 2rem;
    cursor: pointer;
}

.controlPanel .displayOptions {
    margin-top: 1rem;
    font-size: 1rem;
    
    display: flex;
    justify-content: space-between;
}

.paginationButtons button {
    cursor: pointer;
}

.paginationButtons button:disabled {
    cursor: default;
    opacity: 0.6;
}

.controlPanel .displayOptions select {
    font-size: 1rem;
}

@media (max-width: 380px) {
    .controlPanel .searchPanel{
        flex-direction: column;
    }

    
    .controlPanel .displayOptions {
        flex-direction: column;
    }
    
    .controlPanel .displayOptions .postsPerPageControls {
        margin-bottom: 0.5rem;
    }

    .paginationButtons button {
        width: 50%;
    }

    .controlPanel .searchPanel input[type="text"] {
        font-size: 1rem;
        width: 100%;
        margin-bottom: 0.5rem;
    }

    .controlPanel .searchPanel button {
        font-size: 1.5rem;
    }
}