.posts-container {
    display: flex;
    flex-direction: column;
    margin: 1.5rem auto;
}

.posts-container h2.error {
    color: red;
}

.post {
    border: 1px solid #cccccc;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.post h3 {
    margin: 0;
}

.post-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 550px) {
    .post-content {
        flex-direction: column;
        align-items: center;
    }
}