<div class="posts-container" *ngIf="!posts">
    <h2>Please enter the name of the subreddit to start using viewer.</h2>
</div>

<div class="posts-container" *ngIf="posts && posts.length === 0">
    <h2 class="error">The search attempt encountered an error or the subreddit is empty.</h2>
    <h3>Please try different search term.</h3>
</div>

<div class="posts-container" *ngIf="posts && posts.length > 0">
    <div class="post" *ngFor="let post of posts">
        <h3>
            <a [title]="post.data.title + ' details'" [routerLink]="['/posts' + post.data.permalink]">
                {{ post.data.title }}
            </a>
        </h3>
        <div class="post-content">
            <div>
                <p>Author: {{ post.data.author }} | Created: {{ post.data.created * 1000 | date }}</p>
                <p>Number of comments: {{ post.data.num_comments }} | Score: {{ post.data.score }}</p>
                <p><a [href]="'http://reddit.com' + post.data.permalink"><span class="material-icons">link</span></a></p>
            </div>
            <div *ngIf="post.data.thumbnail !== 'self' && post.data.thumbnail !== 'default'">
                <img [src]="post.data.thumbnail" [height]="post.data.thumbnail_height" [width]="post.data.thumbnail_width" />
            </div>
        </div>
    </div>
</div>