<div *ngIf="post">
    <div>
        <div>
            <h4><a [routerLink]="['/']">< Back</a></h4>
        </div>
        <h2>{{ post.title }}</h2>
        <div *ngIf="postImageUrl" class="imageContainer">
            <img src={{postImageUrl}} />
        </div>
        <div *ngIf="postText" innerHTML={{postText}}></div>
    </div>
    <div>
        <div class="commentsContainer">
            <h3>Comments</h3>
            <app-comment *ngFor="let commentData of comments" [data]="commentData"></app-comment>
        </div>
    </div>
</div>