<div class="comment" *ngIf="data.author && data.body">
    <div class="subComments">
        <div class="author">Commentor: {{data.author}}</div>
        <div class="text">{{data.body}}</div>
        <div class="subComments" *ngIf="subComments">
            <app-comment *ngFor="let subComment of subComments" [data]="subComment.data"></app-comment>
        </div>
    </div>
</div>
<div class="more" (click)="moreClicked()" *ngIf="!data.author && !data.body">Read more...</div>