.comment {
    border: 1px dotted #cccccc;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    background-color: white;
}

.comment:hover {
    border: 1px solid #cccccc;
    background-color: beige;
}

.more {
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    background-color: aliceblue;
    border: 1px dotted gold;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.more:hover {
    background-color: gold;
    color: coral;
}

.author {
    font-style: italic;
    margin-bottom: 0.5rem;
}

.text {
    font-size: 1.2rem;
}

.subComments {
    margin-top: 1rem;
}