* {
  font-family: 'Roboto', Arial, sans-serif;

  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
}

.container {
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

router-outlet + *  {
  padding: 0 1rem;
}

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

#topBar {
  background-color: #ff6600;
  padding: 0.2rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#topBar h1 {
  color: white;
}

@media (max-width: 380px) {
  html {
    font-size: 12px;
  }

  #topBar {
    padding: 0.2rem 1rem;
  }

  #topBar h1 {
    margin: 0rem;
  }
}