<app-control-panel 
    (searchRequested)="onSearchRequested($event)"
    (postsPerPageUpdated)="onPostsPerPageUpdated($event)"
    (nextPageRequested)="onNextPageRequested()"
    (prevPageRequested)="onPrevPageRequested()"
    [postsPerPage]="appService.getPostsPerPage()"
    [postsPerPageOptions]="appService.getPostsPerPageOptions()"

    [prevPageAvailable]="appService.isPrevAvailable()"
    [nextPageAvailable]="appService.isNextAvailable()"

    ></app-control-panel>
<app-post-list [posts]="posts" ></app-post-list>
